.cardsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.skeleton {
 width: 500px;
 height: 506px;
}

@media only screen and (max-width: 600px) {
  .skeleton {
    width: 350px;
  }
}